.universe {
    margin: 24px;
    background-color: #8157ff;
    float: left;
}

.circle {
    border-radius: 50%;
    padding-top: 60px;
    padding-left: 40px;
    width: 140px;
    height: 140px;
    /* width and height can be anything, as long as they're equal */
}